<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Syncfusion.XlsIO.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-26.1462.35.0" newVersion="26.1462.35.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Syncfusion.Pdf.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-26.1462.35.0" newVersion="26.1462.35.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Syncfusion.Shared.Wpf" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-26.1462.35.0" newVersion="26.1462.35.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Syncfusion.Chart.Wpf" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-26.1462.35.0" newVersion="26.1462.35.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Syncfusion.Gauge.WPF" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-26.1462.35.0" newVersion="26.1462.35.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Syncfusion.SfMaps.WPF" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-26.1462.35.0" newVersion="26.1462.35.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Syncfusion.Grid.Wpf" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-26.1462.35.0" newVersion="26.1462.35.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Syncfusion.GridCommon.Wpf" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-26.1462.35.0" newVersion="26.1462.35.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Syncfusion.Presentation.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-26.1462.35.0" newVersion="26.1462.35.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Syncfusion.DocIO.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-26.1462.35.0" newVersion="26.1462.35.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-26.1462.35.0" newVersion="26.1462.35.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<connectionStrings>
		<add name="MySqlConnection" connectionString="Server=sql12.freesqldatabase.com;Database=sql12739505;User Id=sql12739505;Password=bI2s32U2vF;Port=3306;Charset=utf8mb4;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
 <userSettings>
  <GUI.Properties.Settings>
   <setting name="AcUsername" serializeAs="String">
    <value />
   </setting>
   <setting name="AcPassword" serializeAs="String">
    <value />
   </setting>
   <setting name="RememberMe" serializeAs="String">
    <value>False</value>
   </setting>
  </GUI.Properties.Settings>
 </userSettings>
</configuration>